body .scroll-content {
	background-color: #F45849;
	background-size: cover;
}

.logo {
  text-align: center;
}

.logo img {
  width: 50%;
  padding-top: 20%;
}

.show-code {
  padding-top: 10%;
}

.show-code h2 {
  color: black;
}

body h2 {
  color: white;
}

.showIllness {
  margin-top: 10%;
}

.add {
	margin: 7em;
}